# Don't include the .git history in the Docker image:
.git

# Items from .gitignore
bower_components/
*/*/node_modules/
**/node_modules/
bundle/bundle.out.js
.idea/
*.iml
**/*.env
**/package-lock.json
static/bower_components/
.*.sw?
.DS_Store
.vagrant
/iisnode
coverage/
npm-debug.log
Footer
**/build/
**/package-lock.json
